html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
}

.game {
  display: inline-block;
  background-color: aliceblue;
  width: 100%;
  overflow: hidden;
}

.game-row {
  line-height: 0;
}

.game-cellule {
  display: table-cell;
  width: 22px;
  height: 22px;
  border: 1px solid #ccc;
  border-radius: 1px;
  vertical-align: middle;
  font-weight: 800;
  user-select: none;
}
.cellule-border {
  width: 5px;
  height: 5px;
  border: none;
}

.cellule-hidden {
  background-color: white;
  border-radius: 3px;
  box-shadow: -1px -1px;
}
.cellule-hidden:hover {
  background-color: lightgrey;
}
.cellule-revealed {
  background-color: lightgrey;
}

.cellule-marked {
  background-color: white;
  border-radius: 3px;
  box-shadow: -1px -1px;
}
.game-buttons {
  width: 100%;
  height: 41px;
}

